* {
    margin: 0;
    padding: 0;
    }
    /* default margin and padding remove */

 body {
    width: 100%;
    height: 100vh; 
    /* viewport height 1vh=1% and 100vh= full height of screen */
    background-image: url(mountain.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.container {
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    /* centre text */
    position: relative;
    border-radius: 10px;
    /* rounded corners */
    background-color: rgba(0, 0, 0, 0.6);
    }

.time {
    /* style for time display */
    padding: 1rem 0;
    font-size: 2rem;
    /* latge time text */
    }

h1,p {
    color: white;
    }

button {
    /* style for button */
    padding: 0.4rem 1rem; 
    /* button size */
    margin: 0 0.2rem;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    }

button:hover {
    /* hover effect for button */
    background-color: rgba(0, 0, 0, 0.4);
     color: #f8f8f8;
    }